name: Toffee Auto Update

on:
  schedule:
    - cron: '0 */5 * * *'
  workflow_dispatch: 

jobs:
  update_links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Get Cookie and Update Files
        run: |

          COOKIE=$(curl -s https://apis.allinonedev.top/tf/ | jq -r '.set_cookie')
          echo "New Cookie: $COOKIE"

          if [ -z "$COOKIE" ] || [ "$COOKIE" == "null" ]; then
            echo "Cookie found empty. Exiting..."
            exit 1
          fi

        
          python3 -c "
import json, datetime
with open('api.json', 'r') as f:
    channels = json.load(f)

new_cookie = '$COOKIE'
updated_on = datetime.datetime.now().strftime('%d-%m-%Y %I:%M:%S %p')


tengo = {
    'name': 'Toffee App All Channel Link with Headers',
    'owner': 'Bd Coder Boy \nTelegram: https://t.me/fredflixceo',
    'channels_amount': len(channels),
    'updated_on': updated_on,
    'channels': []
}

ns_m3u_content = json.dumps([{**ch, 'cookie': new_cookie} for ch in channels], indent=2) + '\n\n#EXTM3U\n'
ott_m3u_content = '#EXTM3U\n'

for ch in channels:
    host = ch['link'].split('//')[-1].split('/')[0]
    
  
    tengo['channels'].append({
        'category_name': ch['category_name'],
        'name': ch['name'],
        'link': ch['link'],
        'headers': {
            'Host': host,
            'cookie': new_cookie,
            'user-agent': 'Toffee (Linux;Android 14)',
            'accept-encoding': 'gzip'
        },
        'logo': ch['logo']
    })

    
    ns_m3u_content += f'#EXTINF:-1 group-title=\"{ch[\"category_name\"]}\" tvg-logo=\"{ch[\"logo\"]}\", {ch[\"name\"]}\n'
    ns_m3u_content += f'#EXTVLCOPT:http-user-agent=Toffee (Linux;Android 14)\n'
    ns_m3u_content += f'#EXTVLCOPT:http-cookie={new_cookie}\n{ch[\"link\"]}\n'

    
    ott_m3u_content += f'#EXTINF:-1 group-title=\"{ch[\"category_name\"]}\" tvg-logo=\"{ch[\"logo\"]}\", {ch[\"name\"]}\n'
    ott_m3u_content += f'{ch[\"link\"]}|cookie={new_cookie}\n'


with open('tengo.json', 'w') as f: json.dump(tengo, f, indent=2)
with open('ns.m3u', 'w') as f: f.write(ns_m3u_content)
with open('ott.m3u', 'w') as f: f.write(ott_m3u_content)
with open('channels.json', 'w') as f: json.dump([{**ch, 'cookie': new_cookie} for ch in channels], f, indent=2)
          "

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add ns.m3u ott.m3u channels.json tengo.json
          git commit -m "Auto Update: $(date)" || echo "No changes"
          git push
